

<h2><%= @random_image.name%></h2>

<p >
<%=  image_tag @random_image.image_url(:large) if @random_image.image? %>
</p>

<p style="text-align:center">
  <%= link_to "Post to my wall", publish_painting_path(@random_image), :class => "btn btn-success btn-large" %>
</p>