<Script>
      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'stream.publish',
          link: 'http://sheltered-wildwood-4199.herokuapp.com/',
          picture: 'http://sheltered-wildwood-4199.herokuapp.com/<%=@random_image.image_url(:large) %>',
          source: 'http://sheltered-wildwood-4199.herokuapp.com/<%=@random_image.image_url(:large) %>',
          name: 'My Unique Code'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      };
</script>

<p><button onclick='postToFeed(); return false;'>Post to Feed</button></p>
<p id='msg'></p>
<%= @random_image.name%>

<%=  image_tag @random_image.image_url(:large) if @random_image.image? %>
