
<h1>Find My Code </h1>
  <p>When she arrived in Atlanta on Wednesday, the subway underpass was blank concrete, speckled with dirt, spiderwebs and weeds. By Sunday, Ms. Freeman, a 25-year-old Memphis muralist, will have turned it into her latest artwork: a lattice of blue and pink shapes, brightening a once-dull roadway.

</p>
<p>
	<%= link_to "Find My Code", getmycode_path , :class => "btn btn-success btn-large" , id: "mycode" %>
</p>

<p>
	<%= link_to "Galleries", galleries_path , :class => "btn btn-success btn-large" %>	
</p>




