<!DOCTYPE html>
<html>
<head>
<title>ColorCode</title>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '387404467992646', // App ID
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
    FB.Event.subscribe('edge.create',
        function(response) {
         window.location = "http://localhost:3000/getmycode";
        }
    )
  };


      function postToFeed() {

        // calling the API ...
        var obj = {
          method: 'stream.publish',
          link: 'http://sheltered-wildwood-4199.herokuapp.com/',
          picture: '',
          name: 'Facebook Dialogs',
          caption: 'Reference Documentation',
          description: 'Using Dialogs to interact with users.'
        };

        function callback(response) {
          document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
        }

        FB.ui(obj, callback);
      }

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>
<div id="container">

<fb:like href="https://www.facebook.com/pages/MyCode/181525571977095/" send="true" width="450" show_faces="true"></fb:like>
<p><button onclick='postToFeed(); return false;'>Post to Feed</button></p>
<p id='msg'></p>
<%= yield %>
<div class="fb-comments" data-href="https://www.facebook.com/pages/MyCode/181525571977095" data-num-posts="10" data-width="600"></div>
</div>
</body>
</html>
